{% extends "layout.html" %}

{% block title %}Announcement Details{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ announcement['title'] }}</h3>
            <hr>
            <div class="card-text">
                <p>{{ announcement['content'] }}</p>
            </div>
        </div>
    </div>
    <button onclick="window.history.back();" class="btn btn-success px-4 my-2">Back</button>
</div>
{% endblock %}