{% extends "dashboard_layout.html" %}
<!---->
{% block title %} Profile - Species {% endblock %}
<!---->
<!---->
{% block content %}

{% if msg %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ msg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div class="container">

    <div class="text-center">
        <div>
            <h1>{{user['username']}}'s Profile</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 mx-auto bg-light rounded shadow p-4 mt-3 mb-5">
            <!--  -->
            {% if user['profile_image'] %}
            <div class="text-center">

                <img src="{{ url_for('static', filename='images/profile_images/' + user['profile_image']) }}"
                    alt="Profile Image" class="rounded-circle mb-3" style="max-width: 150px" />
            </div>
            {% else %}
            <div class="text-center">
                <img src="{{ url_for('static', filename='images/profile_images/default.jpg') }}" alt="Profile Image"
                    class="rounded-circle mb-3" style="max-width: 150px" />
            </div>

            {% endif %}


            <form action="{{url_for('profile')}}" method="POST" enctype="multipart/form-data"
                class="needs-validation d-flex flex-column gap-3 mt-4" novalidate>
                <input type="hidden" name="userId" id="userId" value="{{user['user_id']}}">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ user['email'] }}"
                        required />
                </div>
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name"
                        value="{{ user['first_name'] }}" required />
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name"
                        value="{{ user['last_name'] }}" required />
                </div>
                <div class="form-group">
                    <label for="birth_date">Description</label>
                    <input type="text" class="form-control" id="description" name="description"
                        value="{{ user['description'] }}" />
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" name="location" value="{{ user['location'] }}"
                        required />
                </div>
                <div class="form-group">
                    <label for="birth_date">Status: {{user['status']}}</label>
                </div>

                <div class="form-group">
                    <label for="birth_date">Role: {{user['role']}}</label>
                </div>
            </form>

            <hr />
            <div class="container">
                {% if 'cadmin' in session.get('userData',{})['role'] %}
                <div class="card w-100 w-md-75 mx-auto">
                    <div class="card-body">
                        <form action="{{ url_for('appointCompetitionStaff') }}" method="post" class="d-flex justify-content-center gap-3">
                            <input type="hidden" name="userId" value="{{ user['user_id'] }}">

                            {% if canBeCompetitionAdmin %}
                            <button type="submit" name="role" value="cadmin" class="btn btn-primary">Appoint as
                                Competition Admin</button>
                            {% endif %}

                            {% if canBeScrutineer %}
                            <button type="submit" name="role" value="cscrutineer" class="btn btn-secondary">Appoint as
                                Scrutineer</button>
                            {% endif %}

                            {% if canBeModerator %}
                            <button type="submit" name="role" value="cmoderator" class="btn btn-success">Appoint as
                                Moderator</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="delete_modal" tabindex="-1" aria-labelledby="delete_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete_modal_label">Delete Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="delete_modal_body">
                Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirm_delete">Delete</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let delete_url;
        let delete_content;

        document.querySelectorAll('.delete-link').forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent the default link behavior
                delete_url = this.getAttribute('data-url'); // Store the delete URL
                const delete_modal = new bootstrap.Modal(document.getElementById('delete_modal'));
                delete_content = this.closest('div').querySelector('img').alt; // Get the content to be deleted
                document.getElementById('delete_modal_body').textContent = `Are you sure you want to delete this item: "${delete_content}"?`;
                delete_modal.show();
            });
        });

        document.getElementById('confirm_delete').addEventListener('click', function () {
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = delete_url;

            document.body.appendChild(form);
            form.submit();
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const status = "{{ user['status'] }}";
        const role = "{{ user['role'] }}";

        if (status) {
            document.querySelector(
                `input[name="status"][value="${status}"]`
            ).checked = true;
        }

        if (role) {
            document.querySelector(
                `input[name="role"][value="${role}"]`
            ).checked = true;
        }
    });
</script>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict';

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.from(forms).forEach((form) => {
            form.addEventListener(
                'submit',
                (event) => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                },
                false
            );
        });
    })();
</script>




{% endblock %}